img {
    display: inline;
    margin:5px;
    border:2px solid #222222;
}
.back {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 10px 15px;
    background-color: #f04e23; /* A noticeable color */
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s, box-shadow 0.3s;
}
/* Smaller screens, like mobile devices */
@media (max-width: 600px) {
    .back {
        font-size: 14px; /* Smaller font size */
        padding: 8px 12px; /* Smaller padding */
    }
}

/* Larger screens, like desktops */
@media (min-width: 601px) {
    .back {
        font-size: 16px; /* Larger font size */
        padding: 12px 18px; /* Larger padding */
    }
}
h2 {
    color: white;
    text-align: center;
}